* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, 
input, 
button, 
select, 
textarea {
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #e5e5e5;
}
body::before {
  content: '';
  width: 100%;
  height: 368px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #121214;
  z-index: -1;
}
header, 
main {
  width: 736px;
  margin: 0 auto;
}
header {
  margin-top: 70px;
}
header h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
  width: 319px;
  margin-bottom: 24px;
}
header p {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 26px;
  color: #42d3ff;
  width: 319px;
}
main {
  margin-top: 38px;
  background-color: #FAFAFC;
  min-height: 300px;
  border-radius: 38px;
}
form {
  padding: 54px;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
fieldset legend {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 24px;
}
fieldset + fieldset {
  margin-top: 48px;
}
label {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  margin-bottom: -10px;
}
label span {
  font-size: 12px;
  line-height: 20px;
  color: #6c6a71;
  margin-left: 12px;
}
input, textarea, select {
  background-color: #fafafc;
  border: 1px solid #e6e6f0;
  box-sizing: border-box;
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 26px;
  color: #6c6a71;
}
textarea {
  padding: 20px;
  height: 168px;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}
fieldset .col-3 {
  display: flex;
  gap: 20px;
}
fieldset .col-3 label {
  display: block;
  margin-bottom: 8px;
}
fieldset > .col-3 > .col:nth-child(1) {
  width: 100%;
}
.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
}
.checkbox label {
  display: flex;
  gap: 16px;
}
.checkbox label::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}
.checkbox input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6002_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6002_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.checkbox input:focus + label::before {
  outline: 2px solid black;
}
footer {
  background: #f0f0f4;
  height: 136px;
  display: flex;
  flex-direction: column;
  padding: 40px 64px;
  margin-bottom: 100px;
  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 38px 38px;
}
footer button {
  height: 56px;
  background-color: #00b652;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  font-family: 'Archivo';
  cursor: pointer;
}
footer button:hover {
  background-color: #039946;
}
input:invalid {
  border: 2px solid #ff1010;
}